.navbar
{
	
	padding: 5px ;
	width:95% ;
	height: 400px ;
	margin: 8px auto 0 auto ; 
}

.ul li
{
	color: red;
	display: inline;
	margin: 0px;
}

.ul li a
{
	line-height: 100px;
}

.box-inner1
{
	height: 500px;
	width: 200px;
	background-color: blue;
	margin-right: 5px;
	margin-left: 300px;
	float : left;
}

.box-inner2
{
	height :500px;
	width: 200px;
	background-color: red;
	margin-left: 300px;
	margin-right: 5px;
	float : left;
	

}

.float-clear
{
	width: 100%;
	height: 30px;
	clear: both;
}